.bdy{
    background-image: url("../images/back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.menu{
	border-top-right-radius: 20%;
	border-bottom-right-radius: 20%;
}

.menu_content > div{
    border-radius: 100em 100em 100em 100em;
    font-size: 110%;
    font-family: Bahnschrift Light;
}

.mainheading{
	font-size: 5em;
	color: #5f4646;
	font-family: Agency FB;
	font-weight: bold;
}

.bar{
  height:5px;
  width:5%;
  margin: 3px;
  background-color:white ;
  display: block;
  border-radius:5px;
}


#mob_menu{
	cursor:pointer;
    z-index:1;
}
.inptext{
	border-top-style: hidden;
	border-left-style: hidden;
	border-right-style: hidden;
	background: border-box;
	border-bottom-color: cornsilk;
    border-bottom-width: revert;
}

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom-color:#388E3C ;
    border-bottom-width: medium;
}

.labelText{
    font-family: cursive;
    font-weight: 500;
}


#contactus{
background-image:url("../images/contactuspic.jpg");
background-size: cover;
border-radius: 1%;
}
